.mensaje {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
  
.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
  
.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.qr-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.qr-container img {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
}