<div class="descuentos">
    <h2 class="page-title">Descuentos</h2>
    <div class="lista-descuentos">
        <table>
            <thead>
                <tr>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Motivo</th>
                    <th>Descuento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of descuento; let i = index">
                    <td>{{item.fecha_inicio}}</td>
                    <td>{{item.fecha_fin}}</td>
                    <td>{{item.motivo_descuento}}</td>
                    <td>{{item.porcentaje}}%</td>
                    <td>
                        <button class="acciones-btn editar-btn" (click)="abrirModalEditar(item)" >Editar</button>
                        <button class="acciones-btn eliminar-btn" (click)="deleteDescuento(item.Did)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="crear-btn" (click)="nuevoDescuento()" >+ Crear Descuento</button>
    </div>
</div>

<div class="modal" tabindex="-1" *ngIf="descuentoSeleccionado" (click)="cerrarModal()">
    <div class="modal-dialog">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
                <h5 class="modal-title">Editar Descuento</h5>
                <button type="button" class="btn-close" aria-label="Cerrar" (click)="cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="motivo">Motivo del descuento</label>
                    <input type="text" id="motivo" class="form-control" [(ngModel)]="descuentoEditando.motivo" name="motivo">
                  </div>
                  
                  <div class="form-group">
                    <label for="descuento">Porcentaje de descuento</label>
                    <input type="number" id="descuento" class="form-control" [(ngModel)]="descuentoEditando.descuento" name="descuento">
                  </div>
                  
                  <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio</label>
                    <input type="date" id="fecha_inicio" class="form-control" [(ngModel)]="descuentoEditando.fecha_inicio" name="fecha_inicio">
                  </div>
                  
                  <div class="form-group">
                    <label for="fecha_fin">Fecha de fin</label>
                    <input type="date" id="fecha_fin" class="form-control" [(ngModel)]="descuentoEditando.fecha_fin" name="fecha_fin">
                  </div>
                  
                  <!-- Añadir botones de acción -->
                  <div class="form-actions">
                    <button type="button" class="btn btn-cancel" (click)="cerrarModal()">Cancelar</button>
                    <button type="button" class="btn btn-success" (click)="guardarCambios()">Guardar cambios</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>