<div class="descuentos">
    <h2>Descuentos</h2>
    <div class="lista-descuentos">
        <table>
            <thead>
                <tr>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Motivo</th>
                    <th>Descuento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of descuento; let i = index">
                    <td>{{item.fecha_inicio}}</td>
                    <td>{{item.fecha_fin}}</td>
                    <td>{{item.motivo_descuento}}</td>
                    <td>{{item.porcentaje}}%</td>
                    <td>
                        <button class="acciones-btn editar-btn" (click)="abrirModalEditar(item)" >Editar</button>
                        <button class="acciones-btn eliminar-btn" (click)="deleteDescuento(item.Did)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="crear-btn" (click)="nuevoDescuento()" >+ Crear Descuento</button>
    </div>
</div>

<div class="modal" tabindex="-1" *ngIf="descuentoSeleccionado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Descuento</h5>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="guardarEdicion()" >
                    <div class="mb-3">
                        <label for="motivo" class="form-label">Motivo</label>
                        <input type="text" id="motivo" [(ngModel)]="descuentoSeleccionado.motivo_descuento" name="motivo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="porcentaje" class="form-label">Descuento</label>
                        <input type="text" id="porcentaje" [(ngModel)]="descuentoSeleccionado.porcentaje" name="porcentaje" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                        <input type="text" id="fecha_inicio" [(ngModel)]="descuentoSeleccionado.fecha_inicio" name="fecha_inicio" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="fecha_fin" class="form-label">Fecha Fin</label>
                        <input type="text" id="fecha_fin" [(ngModel)]="descuentoSeleccionado.fecha_fin" name="fecha_fin" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-close" (click)="cerrarModal()" >Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>