<div class="cumple">
    <h2>Cumpleaños</h2>
    <div class="mensaje">
        <label for="message" >🎉🎁🎉 Escribe el mensaje que quieras compartir con tus clientes: 🎉🎁🎉</label>
        <textarea id="message" placeholder="Ingresa tu mensaje aquí" name="mensaje" [(ngModel)]="mensaje" required></textarea>
        <label for="hora">Escoje la hora que deseas enviar los mensaje</label>
        <input type="time" name="hora" id="hora" [(ngModel)]="hora">
        <button (click)="enviarMensaje()">Guardar</button>
    </div>
    <div class="lista-cumple">
        <h3>Cumpleañeros de Casa Olimpo</h3>
        <table class="table-cumple">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.fecha_nacimiento}}</td>
                    <td>{{persona.edad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
